.nav-item a{
margin: 8px;
padding: 2px;
text-decoration: none;
font-weight: 600;
font-size: 19px;
color: rgb(243, 236, 236);
font-family: 'Merriweather', serif;
}
.navbar-brand{
    font-size: 28px;
    font-family: 'Merriweather', serif;
    font-weight: 800;  
}
.bgcolor{
color: white;
}
.navbar{
    background-color: #161853;
}
@media screen and (max-width:480px) {
    .bgcolor{
    font-size: 20px;
    }
    .sm-btn{
        background-color: rgb(190, 180, 180);
    }
}